<div class="introContainer">
  <h1>Ooo-da-Burger</h1>
  <strong>Menu</strong>
</div>

<Menu id="myMenu">

  <menuitem label="Cheese Burger"><b> 1. Cheese Burger:</b> Lean ground beef, fresh lettuce, tomatoes, pickles, and
  melted american cheese.</menuitem>
  <br>
  <menuitem label="Chilli Burger"><b>2. Chilli Burger:</b> Lean ground beef, onion rings, cheddar cheese, brioche
  buns, mild chilli, and barbecue sauce.</menuitem>
  <br>
  <menuitem label="Veggie Burger"><b>3. Veggie Burger:</b> Made fresh daily with sauteéd mushrooms, flaxseed,
  short-grain brown rice, panko, and walnuts.</menuitem>
  <br>
  <menuitem label="Steak Burger"><b>4. Steak Burger:</b> Lean ground beef, freshly cut scallions, salt, pepper,
  worcestershire sauce, topped with fresh hamburger buns.</menuitem>
  <br>
  <menuitem label="Hamburger"><b>5. Hamburger:</b> Lean ground beef seasoned with cajun seasoning, fresh garlic,
  salt, black pepper, argula, and sundried tomatoes.</menuitem>
  <br>
  <menuitem label="California Avocado Burger"><b> 6. California Avocado Burger:</b> Lean ground beef, ripe fresh
  California avocados, lettuce, onions,tomatoes, and sesame seed burger buns.</menuitem>
  <br>
  <menuitem label="Salmon Burger"><b>7. Salmon Burger:</b>Course breadcrumbed boneless salmon, peeled and cut
  shallots, dijon mustard, capers, salt, pepper, fresh butter, lemon wedges, and tabasco sauce.</menuitem>
  <br>
  <menuitem label="Oklahoma Onion Burger"><b>8. Oklahoma Onion Burger:</b>Lean ground beef, salt, fresh black pepper,
  thinly sliced white onions, melted chedder cheese, pickles, mustard, and freshly baked burger buns.</menuitem>

</Menu>

<br>
<br>

<div class="jumbotron">
  <h2 class="display-4">Hello, what would you like to order?</h2>
  <h10>Please type a burger from the menu above</h10>
  <br>
  <form id="create-form">
    <div class="form-group">
      <input style="height: 36px;" type="text" id="bur" name="name">
      <button class="btn btn-danger" type="submit">Order Up!</button>
    </div>
  </form>
</div>

<div class="container">
  <div class="burgerContainer">
    <div class="row">
      <div class="col-md-4">
        <h2 class="subTitles"><b>READY </b>Orders: </h2>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="col-md-4">
        <img class="rounded mx-auto d-block" src="/assets/images/burger.png" alt="Burger Image">
      </div>
      <div class="col-md-4">
        <h2 class="subTitles">Devoured Burgers:</h2>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>