body {
  background: rgb(235, 4, 4);
  background: linear-gradient(
    347deg,
    rgba(235, 4, 4, 1) 21%,
    rgba(255, 167, 0, 1) 71%,
    rgba(255, 249, 0, 1) 99%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.introContainer{
  text-align: center;
}

h1 {
  color: #0d8a22; 
}

.jumbotron{
  opacity: 0.8; 
  background-color: white; 
  text-align: center;
  height: 10 rem;
}

.burgerContainer{
display: flex;
flex-direction: row;
}

.subTitles{
  text-decoration: underline;
}

img{
  width: 20rem; 
  height: 20rem;
  display: inline-block; 
  vertical-align: middle;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}